.visionMission {
  background-image: url("../img/About/vision.png");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.visionMissionp {
  font-size: 14px;
}
.abouttxt {
  font-size: 15px !important;
}
@media screen and (min-width: 1600px) {
  .visionMission {
    background-image: url("../img/About/vision.png");
    height: 700px;
  }
  .visionMissionp {
    font-size: 18px;
  }
}
.firstWord {
  font-size: 4rem !important;
}
.restOfText {
  font-size: 2rem;
}

@media screen and (max-width: 670px) {
  .visionMission {
    background-image: url("../img/About/vision.png");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .firstWord {
    font-size: 3rem !important;
  }
  .restOfText {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1600px) {
  .producttabimg {
    height: 600px !important;
  }
}

.producttabimg {
  height: 500px;
}

.infrastructurecard {
  box-shadow: 20px 10px 80px 0px #00000040;
}
.infrastructurecardinfo {
  height: 170px !important;
}
.team-card {
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #c8c8c8;
  box-shadow: 8px 10px 10px 0px #00000040;
}

.black-white-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease-out;
}

.colored-image {
  filter: none;
  transition: filter 0.3s ease-out;
}

.card-img-top {
  width: 100%;

  object-fit: cover;
}

.plungercard {
  box-shadow: 5px 5px 20px 0px #00000040;
  background: #efefef;
  height: auto;
  width: 170px !important;
}

@media (max-width: 526px) {
  .plungercard {
    box-shadow: 1px 1px 2px 0px #00000040;
    background: #efefef;
    height: auto;
    width: 170px !important;
  }

  .teamimg {
    height: 300px;
    width: 100%;
  }
  .producttabimg {
    height: 300px !important;
  }
}

.prdimg {
  height: 150px;
  width: 150px;
}

.sencodetext {
  background: #cd4247;
  height: 133px;
}

.teamimg {
  height: 400px;
  width: 100%;
}
.abtname {
  color:  #e84c52;
}
.sencodesubtext {
  background: #e84c52;
  position: relative;
  bottom: 60px;
}

.invisible {
  display: none;
}

.getintouchbg {
  background: url("../img/Contactus/background6.png");
}

.leadershippara {
  background-color: #f7f5ef;
}

.spaceing {
  margin-bottom: 10px;
}

.social-icons {
  padding-left: 20px;
}

.social-icons .icon {
  font-size: 4rem;

  padding: 10px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
}

.social-icons .icon:hover {
  transform: translateZ(10px) rotateY(15deg);
  color: #e84c52; /* Change this color as needed */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
