.caontatctcardback {
  background: #ffffffcc;
}

.caontatctcardimg {
  position: relative;
}
@media screen and (max-width: 1300px) {
  .caontatctcardsubsection {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 8px 10px 25px 0px rgba(0, 0, 0, 0.25);
    width: 300px !important;
    position: absolute;
    left: 60px;
    bottom: 0px;
  }
  .txtcontact {
    font-size: 11px !important;
  }
 
}

.caontatctcardsubsection {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 8px 10px 25px 0px rgba(0, 0, 0, 0.25);
  width: 400px;
  position: absolute;
  left: 60px;
  bottom: 0px;
}

.txtcontact {
  font-size: 14px;
}
.txtcontact1{
  font-size: 11px !important;

}
@media screen and (min-width: 1800px) {
  .caontatctcardsubsection {
    width: 410px;
    position: absolute;
    left: 100px;
    bottom: 0px;
  }
  .caontatctcardsubsection p {
    font-size: 17px;
  }
  .txtcontact1{
    font-size: 15px !important;
  
  }
}
