
.tabbuttons:hover{
    color:black !important;
}
.nav-pills .nav-link.active{
    border: 3px solid rgba(232, 76, 82, 1);
    background-color: rgba(232, 76, 82, 1) !important;
    color: white;
}

.tabbuttons{
    border: 3px solid rgba(232, 76, 82, 1);
    /* background-color:  rgba(232, 76, 82, 1); */
    color: black;
}
 tr td {
    border: 1px solid gray 
 }