.requestcallback {
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 505px) {
  .requestcallback {
    height: 730px !important;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .requestcallbackleft {
    background: rgba(222, 222, 222, 0.79);
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
    top: -691px !important;
  }
  .viod {
    padding-top: 240px;
  }
}
@media only screen and (min-width: 705px) and (max-width: 767px) {
  .requestcallback {
    height: 430px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .requestcallbackleft {
    background: rgba(222, 222, 222, 0.79);
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
    top: -991px !important;
  }
  .viod {
    padding-top: 240px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {
   .requestcallbackleft {
    background: rgba(222, 222, 222, 0.79);
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
    top: -491px !important;
  }
}

.requestcallbackleft {
  background: rgba(222, 222, 222, 0.79);
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: relative;
  top: -690px;
}

.requestcallbacklefttop {
  background: rgba(238, 88, 93, 1);
  position: relative;
}

.contentpara {
  position: relative;
  top: -800px;
  background: rgba(222, 222, 222, 0.79);
}

.contentpara1 {
  position: relative;
  top: -800px;
  background: rgba(222, 222, 222, 0.79);
}

.requesttext {
  border: 1px solid rgb(224, 205, 205) !important;
  background-color: white;
  height: 80px;
  padding: 30px;
  color: #999;
  border-radius: 20px;
  scrollbar-width: none;
}
.requesttext::placeholder {
  color: #999;
}
.requesttext:focus {
  color: #999;
  outline: none;
  padding: 5px 20px;
}
.requestinput {
  border: 1px solid rgb(224, 205, 205) !important;
  background-color: white;
  height: 40px;
  border-radius: 30px;
  width: 97%;
  padding: 0px 20px;
  color: #999;
}

.requestinput::placeholder {
  color: #999;
}

.requestinput:focus {
  color: #999;
  outline: none;
  padding: 0px 20px;
}

.formrequestbtn {
  background: rgba(238, 88, 93, 1);
  border-radius: 30px;
  color: white;
  border: none;
}

.requestinputlb {
  font-size: 16px !important;
}

.buttonpart {
  margin-top: -500px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.features {
  font-size: 16px;
  line-height: 1.6;
  list-style-type: disc;
  padding-left: 20px;
}
.features li {
  margin-bottom: 10px;
}
