

.formImg2{
  position: absolute;
  bottom: 100px;
  width: 330px;
  right: 150px;
}






@media only screen and (max-width: 479px) {
  .formImg {
    position: relative;
    z-index: 2;
    left: 67%;
    width: 25%;
    bottom: 288px;
  }
  .formImg2 {
    position: absolute;
    left: 5%;
    top: 575%;
    bottom: 290px;
    height: 195px;
    width: 350px;
  }
  .sendmessagebtn{
  margin-top: 280px;
}

}
